In [2]:
# Imports
import os
import pandas as pd

In [3]:
# Define the file path
csvpath = os.path.join('raw_data', 'election_data_2.csv')

In [4]:
# Create the data frame
df = pd.read_csv(csvpath)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
# Calculate total number of votes
total_votes = df['Voter ID'].count()
total_votes

3521001

In [6]:
# Count votes
counts = df['Candidate'].value_counts()
print(counts)

# Find winner
winner = counts.idxmax()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [8]:
# Print output
output = (
    f"\n\nElection Results\n"
    f"-------------------------\n"
    f"Total Votes: {total_votes}\n"
    f"-------------------------\n"
)

for candidate, count in counts.iteritems():
    output += f'{candidate}: {count/total_votes*100:.3f}% ({count})\n'

output += (
    f"-------------------------\n"
    f"Winner: {winner}\n"
    f"-------------------------\n"
)
    
print(output)

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
-------------------------
Winner: Khan
-------------------------