In [44]:
# Imports
import os
import pandas as pd

In [45]:
# File path
csvpath = os.path.join('raw_data/budget_data_1.csv')
# csvpath = os.path.join('raw_data/budget_data_2.csv')

In [46]:
# Data frame creation
df = pd.read_csv(csvpath)
df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [47]:
# Calculate total months
total_months = df['Date'].count()
total_months

41

In [48]:
# Calculate total revenue
total_revenue = df['Revenue'].sum()
total_revenue

18971412

In [49]:
# Create new column with revenue change
df['Revenue Change'] = df['Revenue'].diff()
df.head()

     Date  Revenue  Revenue Change
0  Oct-12  1154293             NaN
1  Nov-12   885773       -268520.0
2  Dec-12  -448704      -1334477.0
3  Jan-13   563679       1012383.0
4  Feb-13   555394         -8285.0

In [57]:
# Calculate average revenue
average_revenue_change = df['Revenue Change'].mean()
average_revenue_change

-6758.975

In [58]:
# Finding rows of greatest increase and decrease
greatest_increase_row = df.iloc[df['Revenue Change'].idxmax()]
greatest_decrease_row = df.iloc[df['Revenue Change'].idxmin()]

In [59]:
# Generate Output Summary
output = (
    f"\nFinancial Analysis\n"
    f"----------------------------\n"
    f"Total Months: {total_months}\n"
    f"Total Revenue: ${total_revenue}\n"
    f"Average Revenue Change: ${average_revenue_change}\n"
    f"Greatest Increase in Revenue: {greatest_increase_row['Date']} (${greatest_increase_row['Revenue Change']})\n"
    f"Greatest Decrease in Revenue: {greatest_decrease_row['Date']} (${greatest_decrease_row['Revenue Change']})\n")

# Print the output (to terminal)
print(output)

Financial Analysis
----------------------------
Total Months: 41
Total Revenue: $18971412
Average Revenue Change: $-6758.975
Greatest Increase in Revenue: Feb-16 ($1837235.0)
Greatest Decrease in Revenue: Aug-14 ($-1779747.0)